.page{
    padding-top: 120px;
    &__head{
    }

    &__content{
       & h1{
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        color:#2b364e;
        margin-bottom: 30px;
       } 

       & h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        color:#2b364e;
        margin-bottom: 20px;
       }

       & p{
        font-size: 16px;
        line-height: 32px;
        letter-spacing: .2px;
        color:#76777a;
        margin-bottom: 30px;
       }
    }
}